.lmegaClass {
    color: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    color: #444746;
    font-size: 14px;
}

.buttonBlock {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 5px;
    align-items: center;
    padding: 5px 9px;
}

.buttonBlockFull {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-items: center;
    height: 35px;
    width: 100%;
}

.buttonBlockButton {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0 5px;
    color: #444746;
    text-decoration: none;
}

.buttonBlockFull:hover {
    background-color: #FFC527;
}


.buttonBlock:hover {
    background-color: #FFC527;
}
