.edit-slide-area{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 1;
    color: white;
    background-color: #404040;
    overflow: hidden;
}


.main-edit-slide-space{
    display: block;
    background-color: #FFFFFF;
    position: relative;
    margin: auto;
    width: 800px;
    height: 450px;
}

.svg-space{
    display: block;
}

.svg-wrapper{
    display: flex;
    position: absolute;
}

.svg-wrapper_selected{
    outline: 3px solid rgb(124 124 250);
}

.scale-square{
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: rgb(124 124 250);
    outline: 1px solid rgb(255 255 255);
}
