.editSlideArea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 1;
    background-color: #F9FBFD;
    overflow: hidden;
    user-select: none;

}

.mainEditSlideSpace {
    display: block;
    background-color: white;
    position: relative;
    margin: auto;
    width: 800px;
    height: 450px;
}

.svgWrapper {
    display: flex;
    position: absolute;
}

.svgWrapperSelected {
    outline: 3px solid rgb(124 124 250);
    cursor: crosshair;
}

.scaleSquare {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: rgb(124 124 250);
    outline: 1px solid rgb(255 255 255);
}


.multipleSelectionBlock {
    position: absolute;
    display: none;
    background-color: rgb(124 124 250 / 50%);
    border: 2px solid rgb(4 4 78)
}