.edit-slide-area{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 1;
    color: white;
    background-color: #404040;
    overflow: hidden;
}


.main-edit-slide-space{
    display: block;
    background-color: #FFFFFF;
    position: relative;
    margin: auto;
    width: 800px;
    height: 450px;
}

.svg-space{
    display: block;
    position: absolute;
}
