.slide-preview-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px
}

.slide-preview-area__number {
    width: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: gray;
}

.slide-preview-area__preview-area {
    outline: 2px solid #D1D4D2;
    border-radius: 25px;
    width: 145px;
    height: 85px;
    overflow: hidden;
}

.slide-preview-area__preview-area:hover {
    outline: 4px solid #C7C7C7;
}

.slide-preview-area__preview-area_selected {
    outline: 4px solid #FFC527;
}

.slide-preview-area__preview-area_selected:hover {
    outline: 4px solid #FFC527;
}

.slide-preview-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
}

.slide-preview {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.slide-preview__main-area {
    width: 800px;
    height: 450px;
    transform: scale(0.1812, 0.1889);
    transform-origin: left top;
}