.slide-preview-area{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px
}

.slide-preview-area__number{
    width: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: gray;
}

.slide-preview-area__preview-area{
    border: 3px solid #C7C7C7;
    border-radius: 25px;
    width: 145px;
    height: 85px;
}

.slide-preview-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.slide-preview{
    display: block;
    position: relative;
}
