@font-face {
    font-family: "Roboto Regular";
    src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Oswald Regular";
    src: url("./fonts/Oswald/static/Oswald-Regular.ttf");
}

@font-face {
    font-family: "Press_Start_2P Regular";
    src: url("./fonts/Press_Start_2P/PressStart2P-Regular.ttf");
}

@font-face {
    font-family: "Open_Sans Regular";
    src: url("./fonts/Open_Sans/static/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Regular";
    src: url("./fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Pacifico Regular";
    src: url("./fonts/Pacifico/Pacifico-Regular.ttf");
}


* {
    margin: 0;
    padding: 0;
    color: #444746;
    font-size: 14px;
    font-family: Arial;
}

.inputText {
    display: block;
    position: relative;
    padding: 9px 2px 1px 5px;
    max-width: 90%;
    width: auto;
}

.inputTextText {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 90%;
    width: fit-content;
    padding: 1px 6px 1px 0;
    border-radius: 10px;
    color: "#444746";
    box-shadow: inset 1px 1px 0 rgba(0 0 0 .1), inset 0 -1px 0 rgba(0 0 0 .0);
}

.inputTextText:hover {
    outline: 1px solid gray;
}

.inputTextInput {
    display: none;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 5px;
    left: 6px;
    max-width: 90%;
    font-size: 18px;
    margin: 4px;
    padding: 1px;
    padding-left: 6px;
    margin-left: -1px;
    padding-right: 0;
    border-radius: 10px;
    border: none;
}

.inputTextInput:focus {
    outline: 1px solid #FFC527;
}

.inputTextInputActive {
    display: block;
}

.docsBars {
    height: 113.8px;
    display: flex;
    flex-direction: column;
}

.docsTitlebarContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.docsMenubars {
    display: flex;
    flex-direction: row;
    height: 33px;
}

.docsPrimaryToolbars {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #EDF2FA;
    border-radius: 16px;
    border-color: #EDF2FA;
}

.docsBarsLogoArea {
    width: 50px;
}

.docsPrimaryToolbarsButtonsPlace {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-left: 10px;
    width: 100%;
}

.createLine {
    content: " ";
    background: #C7C7C7;
    width: 2px;
    height: 30px;
    margin: 0 3px 0 1px;
}

.docsBarsActivityPanel {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.docsTitlebar {
    padding-top: 8px;
    width: 926px;
    height: 24px;
}

.logo {
    margin: 7px 0 4px 8px;
    padding: 8px;
    width: 36px;
    height: 36px;
}
