<<<<<<< Updated upstream
.ivan{
=======
* {
    margin: 0;
    padding: 0;
    color: #444746;
}

.ivan {
>>>>>>> Stashed changes
    display: flex;
}

.input-text {
    display: block;
    position: relative;
    padding: 1px 2px 1px 5px;
    max-width: 90%;
    width: auto;
}

.input-text__input2 {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    max-width: 90%;
    font-size: 18px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    outline: none;
}


.input-text__input2:hover {
    outline: 1px solid gray;
}

.input-text__input2:focus {
    outline: 1px solid blue;
}

.input-text__text {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 90%;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
}

.input-text__text:hover {
    outline: 1px solid gray;
}

.input-text__input {
    display: none;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 5px;
    left: 6px;
    max-width: 90%;
    font-size: 18px;
    margin: 4px;
    padding: 1px;
    padding-left: 6px;
    margin-left: -1px;
    padding-right: 0;
    border-radius: 10px;
    border: none;
}

.input-text__input:focus {
    outline: 1px solid blue;
}

.input-text__input_active {
    display: block;
}

.single-line {
    font-size: 18px;
}

<<<<<<< Updated upstream
.docs-bars{
=======
.docs-bars {
    height: 113.8px;
    display: flex;
    flex-direction: column;
}

.docs-titlebar-container {
>>>>>>> Stashed changes
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    gap: 5px;
}

.docs-menubars {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 10px;
}

<<<<<<< Updated upstream
.docs-primary-toolbars{
=======
.docs-primary-toolbars {
    height: 40px;
>>>>>>> Stashed changes
    display: flex;
    flex-direction: row;
}

.docs-bars__logo-area {
    width: 50px;
}

<<<<<<< Updated upstream
.docs-bars__activity-panel{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
=======
.docs-primary-toolbars__buttons-place {
    display: flex;
    flex-direction: row;
    height: 26px;
    margin-left: 10px;
    width: 100%;
}

.create-line {
    content: " ";
    background: #C7C7C7;
    width: 1.5px;
    height: 26px;
    margin: 0 2px;
}

.docs-bars__activity-panel {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.docs-titlebar {
    padding-top: 8px;
    width: 926px;
    height: 24px;
}

.logo {
    margin: 7px 0 4px 8px;
    padding: 8px;
    width: 36px;
    height: 36px;
>>>>>>> Stashed changes
}

.button-list__list__vertical-area {
    display: flex;
    position: relative;
}

.button-list__list__vertical {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 320px;
    padding: 0px 2px;
    background-color: #FFFFFF;
    box-shadow: -2px 2px 8px rgb(0 0 0 / 20%);
    border-radius: 5px;
    min-width: 322px;
    z-index: 1;
}

.button-list {
    display: flex;
    position: relative;
    height: 28px;
}

.button-list__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 28px;
    padding: 10px 2px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 1px 5px 5px;
    min-width: 322px;
    z-index: 1;
}